<div class="row">
    
  <div class="col-sm-6 col-md-4">
      <h2>{{event.name}}</h2>
    <div class="thumbnail">
      <img src="images/yeoman.png" alt="...">
      <div class="caption">
          <accordion>
          <accordion-group heading="{{event.rolls|rolls}}">
              <div ng-repeat="roll in event.rolls"  style="display:inline-block"><div badge-roll="roll" user-id="userId" event="event"></div></div>
    </accordion-group>
              
              </accordion>
        <p>{{event.description}}</p>
        <p> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>