<div class="row">
    
  <div class="col-sm-6 col-md-4">
      <h2>{{event.name}}</h2>
    <div class="thumbnail">
      <img data-src="holder.js/300x300" alt="...">
      <div class="caption">
          <accordion>
          <accordion-group heading="{{event.rolls|rolls}}">
      This content is straight in the template.
    </accordion-group>
              
              </accordion>
        <p>{{event.description}}</p>
        <p> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>